@import 'variables.scss';

.header {
  background-color: $color-grey;

  &__navigation {
  }
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
  height: 7 * $unit;

  &__item {
    border-radius: $border-radius;
    color: $text-color-secondary;
    padding: $unit;
    font-weight: bold;
    cursor: pointer;
    margin: 4px;
    background-color: $color-secondary;
    &_selected {
      background-color: $color-primary;
    }

    &:hover {
      opacity: .7;
    }
  }
}
